<%= form_tag '/signin' do %>
<legend class="login-legend"><h3>Sign In</h3></legend>
<p>Returning users log in here!</p></br>
    <div class='form-group'>
      <%= label_tag :email %><br>
      <%= email_field_tag :email %>
    </div>
    <div class='form-group'>
      <%= label_tag :password %><br>
      <%= password_field_tag :password %>
    </div>
    <div class='form-group'><%= submit_tag 'Login' %></div>
<% end %>

