<li>
  <img src="<%= tweet['image_url'] %>" alt="<%= tweet["handle"] %>">
  <p><strong>@<%= tweet["handle"] %></strong></p>
  <p><%= tweet["text"] %></p>
  <p><%= time_ago_in_words(tweet["created_at"]) %> ago</p>
</li>