<div class="container top-pad">
  <%- if @user.errors -%>
    <%- @user.errors.full_messages.each do |message|-%>
    <p><%= message %></p>
    <%- end -%>
  <%- end -%>

  <%= form_for @user, :html => {class: "form-horizontal"} do |f| %>
    <fieldset>
      <div class="row">
        <div class="col-md-offset-2 col-md-8">
          <legend><h1>Settings</h1></legend>
        </div>
      </div>
      <div class="form-group row">
        <%= f.label :name, class: "col-md-offset-2 col-md-1 control-label" %>
        <div class="col-md-6">
          <%= f.text_field :name, class: "form-control" %>
        </div>
      </div>

      <div class="form-group row">
        <%= f.label :zipcode, class: "col-md-offset-2 col-md-1 control-label" %>
        <div class="col-md-6">
          <%= f.text_field :zipcode,class: "form-control" %>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-md-offset-2 col-md-1 control-label">Subway Lines</label>
          <%= render :partial => 'subways/form', :locals => {:form => f}%>
      </div>

      <div class="form-group row">
        <div class="col-md-offset-1 col-md-2">
          <%= link_to "Delete Account", { action: :destroy, id: @user.id }, method: :delete, data: { confirm: 'Are you sure?' }, class: "float-right bottom-align" %>
        </div>
        <div class="col-md-offset-4 col-md-2">
          <%= f.submit 'Save', class: "btn btn-primary" %>
          <%= link_to 'Dashboard', dashboard_path, class: 'btn btn-primary' %>
        </div>
      </div>
    </fieldset>
  <%- end -%>

  <%#= link_to('Link your Twitter Account', '/auth/twitter') %>

</div>