<div class="container dashboard">

  <div class="row header">
    <div class="col-md-offset-2 col-md-8 text-center">
      <h1>Hello <%= @user.name %>, welcome to your dashboard</h1>
    </div>
    <div class="col-md-offset-1 col-md-1">
      <div class="image-container">
        <a href="#" data-target="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false" class="center">
        <%- if oauth? -%>
          <img id="profile-image" class="vertical-center" src="<%= @twitter.my_image %>" alt="<%= @user.name %>" data-content="Hello World" data-placement="bottom">
        <%- else -%>
          <%= image_tag 'default_profile.jpg', :id => "profile-image" %>
        <%- end -%>
        </a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
          <li><%= link_to('Settings', user_settings_path) %></li>
          <li><%= link_to('Sign Out', signout_path) %></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row widget-border weather-container">
    <div class="top-panel col-md-12">
      <%= render 'weathers/weathers', :weathers => @weathers %>
    </div>
  </div>

  <div class="row">
    <div class="left-panel col-md-4">
      <div class="task-container widget-border">
        <p class="text-center widget-header"><strong>Task List</strong></p>
        <div class="task-form">
          <%= render 'tasks/form', :user => @user %>
        </div>
        <div id="tasks">
          <%= render @tasks %>
        </div>
      </div>
    </div>


    <div class="mid-panel col-md-4">
      <div class="news-container widget-border">
        <p class="text-center widget-header"><strong>New York Times</strong></p>
        <ol>
        <%= render :partial => 'users/news', :collection => @news.top_5_news_stories %>
        </ol>
      </div>

      <div class="top-padding">
        <div class="subway-container widget-border">
          <p class="text-center widget-header"><strong>Subway Status</strong></p>
          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <%= render :partial => 'subways/status', :locals => {:user => @user, :mta => @mta }%>
          </div>
        </div>
      </div>
    </div>

    <div class="left-panel col-md-4">
      <div class="twitter-container widget-border">
        <p class="text-center widget-header"><strong>Twitter Feed</strong></p>
        <%= generate_twitter_container %>
      </div>
    </div>

  </div>

</div>