<div class="container top-dashboard">

  <div class="row">
    <div class="col-md-offset-1 col-md-10 text-center">
      <h1>Hello <%= @user.name %>, welcome to your dashboard</h1>
    </div>
    <div class="col-md-1">
      <div class="image-container">
        <a href="#" data-target="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
        <%- if oauth? -%>
          <img id="profile-image" src="<%= @twitter.my_image %>" alt="<%= @user.name %>" data-content="Hello World" data-placement="bottom">
        <%- else -%>
          <%= image_tag 'default_profile.jpg', :id => "profile-image" %>
        <%- end -%>
        </a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
          <li><%= link_to('Settings', user_settings_path) %></li>
          <li><%= link_to('Sign Out', signout_path) %></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="left-panel col-md-2">
    <%- if oauth? -%>
      <ol>
      <%= render :partial => 'users/tweet', :collection => @twitter.get_feed %>
      </ol>
    <%- end -%>
  </div>

  <div class="middle-panel col-md-8">
    <div class="row">
      <div class="col-md-6">
        <div class="subway-container">
          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <%= render :partial => 'subways/status', :locals => {:user => @user, :mta => @mta }%>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <ol>
        <%= render :partial => 'users/news', :collection => @news.top_5_news_stories %>
        </ol>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <%= render 'weathers/weather', :weather => @weather %>
      </div>
    </div>
  </div>

  <div class="right-panel col-md-2">
    <%= form_for [@user, Task.new] do |f| %>
        <%= f.label :name, 'Task' %>
        <%= f.text_field :name %>
      <%= f.submit :style => "display:none;"%>
    <%- end -%>
    <ul id="tasks">
      <%= render @tasks %>
    </ul>
  </div>



</div>