<h1>Dashboard</h1>

<p>Hello <%= @user.name %>, your zipcode is <%= @user.zipcode %></p>

<%= render :partial => 'users/subway_status', :locals => {:user => @user, :mta => @mta }%>

<%= @weather.current_weather %>

<<%= @news.top_5_news_stories %>

<%= link_to('Settings', user_settings_path) %>