<h1>Dashboard</h1>

<p>Hello <%= @user.name %>, your zipcode is <%= @user.zipcode %></p>

<%= render :partial => 'users/subway_status', :locals => {:user => @user, :mta => @mta }%>

<%= @weather.current_weather %><br>

<br>
<ol>
<%= render :partial => 'users/news', :collection => @news.top_5_news_stories %>
</ol>

<ol>
<%= render :partial => 'users/tweet', :collection => @twitter.get_feed %>
</ol>


<%= link_to('Settings', user_settings_path) %>

<%= link_to('Sign Out', signout_path) %>