<%= form_for(@identity) do |f| %>
<legend class="login-legend"><h3>Register</h3></legend>

  <p>New user? Sign up for a new account!</p>
  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="form-group">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>

  <div class="form-group">
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="actions"><%= f.submit "Register" %></div>
<% end %>
