<!DOCTYPE html>
<html>
<head>
  <title>MorningWidget</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
    <%- if flash[:success] -%>
      <div class="alert alert-success alert-dismissible fade in float-top" role="alert">
        <div class="container">
          <strong><%= flash[:success] %></strong>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close" aria-hidden="true"> &times;</button>
        </div>
      </div>
    <%- end -%>

    <%- if flash[:info] -%>
      <div class="alert alert-info alert-dismissible fade in float-top" role="alert">
        <div class="container">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <strong><%= flash[:info] %></strong>
        </div>
      </div>
    <%- end -%>

    <%- if flash[:warning] -%>
      <div class="alert alert-warning alert-dismissible fade in float-top" role="alert">
        <div class="container">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <strong><%= flash[:warning] %></strong>
        </div>
      </div>
    <%- end -%>

    <%- if flash[:danger] -%>
      <div class="alert alert-danger alert-dismissible fade in float-top" role="alert">
        <div class="container">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <strong><%= flash[:danger] %></strong>
        </div>
      </div>
    <%- end -%>

    <%= yield %>
</body>
</html>
